.exerciseModuleSection {
    background-color: antiquewhite;
    width: 75%;
    padding: 30px 30px 20px 30px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.864);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exerciseModuleSection:hover {
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.864);
}


.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.Inputs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}


.fieldsInput {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.864);
}

.submitButton {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 120px;
    width: 45%;
    box-shadow: 2px 2px 5px 1px black;
    cursor: pointer;
}

.submitButton:hover {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.864);
}

.submitButton:active {
    position: relative;
    top: 3px;
    background-color: #CDC6C4;
}

.entriesWrapper {
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    height: 275px;
    
}

.entryWrapper {
    border-right: 2px solid black;
}

.entryTitle {
    border-bottom: 2px solid black;
    padding: 2px 2px 2px 5px;
}

.userDataLabel {
    font-weight: bold;
    background-color: #FFF;
    outline: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.864);
}

.userData {
    font-weight: 400;
}

.entryHeader {
    border-bottom: 2px solid black;
    padding: 2px 2px 2px 5px;
    font-size: 1.5rem;
}