.App {
  opacity: 0.9;
  font-family: monospace;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 90px;
}

.forms, .returnedResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.returnedResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #4F76AC;
  opacity: 0.5;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 2;
}

.appTitle {
  font-size: 2.5rem;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}
