.App {
  text-align: center;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.forms, .returnedResults {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.returnedResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #4F76AC;
  opacity: 0.5;
  margin-bottom: 30px;
}

.appTitle {
  font-size: 2.5rem;
  width: 20%;
  /* margin: 0 auto; */
  padding: 10px;
}
